body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#landing {
    position: relative;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
}

.landing-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#team-landing {
    position: relative;
    padding-left: 10vw; 
    padding-top: 5vh;
    height: 30vh;
    width: 90vw; 
    display: flex;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.team-title {
    position: absolute;
    margin-top: 2vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: #000;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

.team-title h1 {
    font-size: 3vw; /* Set the font size to 20% of the viewport height */
    margin: 0; /* Remove any default margin */
}

.team-title p {
    font-size: 1.6vw; /* Set the font size to 20% of the viewport height */
    font-style: italic;
}


#team-image {
    max-height: 25vh; /* Ensure the image doesn't exceed the height of its container */
    max-width: 25vw; /* Ensure the image doesn't exceed the width of its container */
    border-radius: 50%; /* Make the image round */
    border: 3px solid #fff; /* Add a white border for better visibility */
    box-shadow: 0 0 3px #000; /* Add shadow for depth */
}

.team-links {
    font-size: 1vw;
    margin-top: 3vh;
    position: absolute; /* Position the social links */
    top: 50%; /* Align to the vertical center */
    right: 5vw; /* Align to the right with a margin */
    transform: translateY(-50%); /* Center vertically */
    text-align: right; /* Align links to the right */
}

.team-links a {
    display: block;
    color: #000; /* Change color as needed */
    text-decoration: none;
    margin: 1vh; /* Remove any default margin */
    padding: 2px 0; /* Add padding for spacing between links */
    font-style: italic;
}

.team-links a:hover {
    color: #ff6347;
    cursor: pointer;
    margin: 1vh; /* Remove any default margin */
    text-decoration: underline;
}

.team-links p {
    margin: 1vh; /* Remove any default margin */
    color: #ff6347;
}

.text-above {
    text-align: left;
    margin-bottom: 2vh;
    width: 100%; /* Ensure the text-above div spans the entire width */
    box-sizing: border-box; /* Include padding and border in the width */
    padding: 0 2vh; /* Add padding to match the padding of other divs */
  }
  
  .text-above h1 {
    text-align: center;
    color: #333;
  }
  
  .text-above p {
    color: #666;
  }  

.work-title {
    position: absolute;
    margin-top: 3vh;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    z-index: 1;
    text-align: left;
    color: #000;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}

.work-title h1 {
    font-size: 2vw; /* Set the font size to 20% of the viewport height */
    margin: 0; /* Remove any default margin */
}

.work-title p {
    font-size: 1.3vw; /* Set the font size to 20% of the viewport height */
    font-style: italic;
}

#bgVideo {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

#bgImage {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

#company-logo {
    width: 20vh;
    height: 20vh;
}

#about {
    padding: 40px;
    text-align: center;
    background-color: #eee;
}

#products {
    padding: 10vh, 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.product-card {
    width: 180px;
    height: 220px;
    background-color: transparent;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s ease;
}

.product-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.product-card:active,
.product-card:focus {
    background-color: transparent;
}

.product-card img {
    width: 180px;
    height: 180px; /* Set a fixed height for images */
    object-fit: cover;
    border-radius: 5px;
}

.product-card p {
    margin-top: 10px;
    font-weight: 500;
}

.product-card .product-info p {
    margin: 5px 0; /* Adjust margin for paragraph elements */
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; /* Adjust the gap as needed */
    width: 100%;
    max-width: 800px;
    margin: 0 auto; /* Center the grid horizontally */
    justify-items: center; /* Center grid items horizontally */
}

/* Optionally, you can also center grid items vertically */
.products-grid > * {
    align-self: center;
}

.product-text {
    text-decoration: none;
}


/* Updated button styling */
button {
    background-color: #ff4500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff6347;
    cursor: pointer;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
    margin-top: auto;
}

#social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#social-links a {
    margin: 0 10px;
    text-decoration: none;
}

#social-links img {
    max-width: 45px;
    max-height: 45px;
    transition: transform 0.3s;
}

#social-links img:hover {
    transform: scale(1.2);
}

#social-links a:nth-child(1) img {
    width: 30px;
    height: 30px;
}

#addItemForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#addItemForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#addItemForm input[type="text"],
#addItemForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

#addItemForm textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
}

#addItemButton {
    background-color: #424242;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: background-color 0.3s;
    cursor: pointer;
}

#addItemButton:hover {
    background-color: #ff6347;
}

#confirmationMessage {
    margin-top: 10px;
    text-align: center;
    color: green;
}

#collaboration-board {
    padding: 5vh 5vw; /* Combined padding property */
    width: 90vw;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of flex items */
    justify-content: center; /* Center flex items horizontally */
    background-color: #fff;
    gap: 20px; /* Space between flex items */
}

/* Style for the left content and right content */
.left-content,
.right-content {
    flex: 1 1 300px; /* Grow and shrink, with a minimum width of 300px */
    padding: 20px;
    box-sizing: border-box;
    max-width: calc(50% - 20px); /* Adjust max-width for spacing */
    line-height: 2;
}

.left-content h2, 
.right-content h2 {
    text-align: center;
}

.left-content-60 {
    width: calc(60% - 20px); /* Adjust width to leave space for padding and margin */
    padding: 20px;
    box-sizing: border-box;
}

.right-content-30 {
    width: calc(30% - 20px); /* Adjust width to leave space for padding and margin */
    padding: 20px;
    box-sizing: border-box;
}

.responsive-iframe {
    width: 40vw; /* 80% of the viewport width */
    height: 45vh; /* 60% of the viewport height */
    
}

/* Optional: Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .responsive-iframe {
        width: 80vw; /* Full width on smaller screens */
        height: 30vh; /* Adjust height accordingly */
    }
    .left-content,
    .right-content {
        flex: 1 1 100%; /* Full width on smaller screens */
        max-width: 100%; /* Ensure full width */
    }

    .team-links {
        font-size: 2vw;
    }
    .work-title h1 {
        font-size: 5vw; /* Set the font size to 20% of the viewport height */
    }
    
    .work-title p {
        font-size: 3vw; /* Set the font size to 20% of the viewport height */
    }
    #team-landing {
        padding-left: 3vw;
        width: 98vw;
        height: 20vh;
    }
    .team-title h1 {
        font-size: 4vw; /* Set the font size to 20% of the viewport height */
    }
    
    .team-title p {
        font-size: 2.6vw; /* Set the font size to 20% of the viewport height */
    }
    #team-image {
        max-height: 22vh; /* Ensure the image doesn't exceed the height of its container */
        max-width: 22vw;
    }
}

#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100vw;
    display: block;
    transition: top 0.2s;
    z-index: 10;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }